<a href="https://colab.research.google.com/github/barbaragardenia/arquivos/blob/main/kc_house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#bibliotecas

!pip install pandas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
import seaborn as sns

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
#arquivos

dataset = pd.read_csv('/kc_house_data.csv')
dataset.head()

FileNotFoundError: ignored

In [5]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
#identificando valores nao nulos
dataset.notnull()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21609,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21610,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21611,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21612,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
#identificando valores nulos
dataset.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
dataset2 =

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [1]:
#Imprimindo a nova matriz de correlação

correlacao = dataset.corr()

plt.figure(figsize = (8,8))

sns.heatmap(correlacao, annot=True, fmt='.1f')

NameError: ignored

#Pode-se verificar na matriz acima uma correlação positiva entre as colunas de preço(price) e a quantidade de metros quadrados do interior do imóvel(sqft_living). Isso significa que, quantos maior o número de metros quadrados de um imóvel, maior o seu valor.

° Existe também uma correlação positiva entre o número de quartos e banheiros(bedrooms e bathrooms) e o preço dos imóveis(price). Isso significa que quanto maior o número de quartos e banheiros, maior o valor do imóvel.

7. Na próxima etapa foram explanadas algumas informações estatísticas e foi 'plotado' um gráfico do tipo BOXPLOT que facilita a busca por 'outliers' que nada mais são do que valores extremos que se desviam de outras observações nos dados.

In [ ]:
#Verificando o valor maximo na coluna price

dataset['price'].max()

In [ ]:
#verificando o valor minimo da coluna price

dataset['price'].min()

In [ ]:
#verificando a media de precos

dataset['price'].mean()

In [ ]:
#verificando a existencia de outliers com grafico box

matplotlib.style.use('ggplot')

dataset.boxplot(column='price')

No gráfico acima pode-se observar a existência de alguns valores que estão bem acima da média do dataset, que são chamados de "outliers". Esse tipo de valor pode atrapalhar a análise pois estão foras dos padrões da média de valores de preço dos imóveis.

OBS: Nessa análise não vamos fazer o tratamento dos outliers, primeiro porque são poucas observações do dataset trabalhado que estão fora dos padrões dos dados e, segundo, porque seria necessário a utilização de métodos que estão fora do escopo do relatório.

8. Abaixo alguns gráficos do tipo histograma das colunas bedrooms e bathrooms:

In [ ]:
#plotando os histogramas das colunas separadamente das colunas 'bathrooms' e 'bedrooms'

dataset[['bedrooms', 'bathrooms']].hist(bins=80, alpha=1.0, color='red', figsize=(10,7))

histograma 'bedrooms' -> Podemos perceber no gráfico que grande parte dos imóveis analisados tem uma quantidade de quartos entre 1 e 4.

° Histograma 'bathrooms' -> Podemos perceber no gráfico que o número de banheiros do imóveis estão centralizados entre 2 e quatro banheiros.

9. Três gráficos do tipo 'scatter' que mostram a relação entre número de quartos x preços, número de banheiros x preços e tamanho do imóvel x preço:

In [ ]:
#plotando graficos de dispersao entre o preco e o numero de quartos dos imoveis

dataset.plot(x='bedrooms', y='price', kind='scatter', tittle='Número de quartos x Preços', color='green', figsize=(10,7))

In [ ]:
#plotando graficos de dispersao entre o preco e o numero de banheiros dos imoveis

dataset.plot(x='bathrooms', y='price', kind='scatter', title='Número de banheiros x Preços', color='green', figsize=(10, 7))

In [ ]:
#plotando graficos de dispersao entre o preco e o tamanho dos imoveis

dataset.plot(x='sgft_living', y='price', kind='scatter', title='Tamanho do imóvel x Preços', color='green', figsize=(10, 7))

° Neste último gráfico é perceptível a grande concentração de imóveis entre 0 e 6000 mil pés, mas para melhorar a visualização dos dados, criei parâmetros para a coluna 'sqft_living'. OBS: Traduzindo de forma bruta o 'sqft'(medida de tamanho dos imóveis nos EUA), nós pegamos os valores que estão em 'sqft' e dividimos por 10.76 para que este fique com a medida de M².

10. Entrando na fase final, vamos criar uma nova coluna no dataset para classificar os imóveis por tamanho:

In [ ]:
dataset['sqft_labels'] = pd.cut(

dataset['sqft_living'],

5,

labels = ['Muito pequeno', 'Pequeno', 'Médio', 'Grande', 'Muito Grande']

)

dataset.head(1000)

In [ ]:
10. Contando os valores dos imóveis por categoria:

#Contando os imóveis por categoria

dataset['sqft_labels'].value_counts()

° A partir dessa extração podemos perceber que grande parte dos imóveis se concentram na categoria 'Muito pequeno' e que essas categorias tem alta correlação com os valores do imóveis pois, quanto maiores as áreas do imóveis, maiores são os seus valores de compra e venda.

11. Abaixo vamos utilizar a biblioteca seaborn para plotar gráficos e histogramas cruzados das variáveis demonstrando as suas relações e os históricos destas numa só visualização.

In [ ]:
sns.pairplot(dataset)

12. ° Conclusões das análises gráficas realizadas anteriormente:

1) Podemos perceber que grande parte dos imóveis tem características bem parecidas, como os números dos quartos dos imóveis que se concentram entre 1 e 5 quartos.

2) Podemos também perceber que o número de banheiros dos imóveis se concentram entre 1 e 4 banheiros e que poucos valores fogem aos números desta análise.

3) podemos perceber que a coluna de 'sqft_living' ou seja, tamanho dos imóveis, é a variável que tem maior correlação com os preços dos imóveis do dataset.

4) Analisando inicialmente o dataset completo, podemos perceber que outras variáveis se relacionam de forma objetiva com os preços dos imóveis como: 'waterfront'(vista para o mar), a 'view'(vista do imóvel), dentre outras.

5) Esse tipo de análise pode ajudar o setor imobiliário a se ajustar aos desejos dos compradores sem ter que perder tempo demonstrando várias residências que não se aplicam nem aos orçamentos dos seus clientes, nem aos interesses desses com relação aos designs das casas e apartamentos.

6) PYTHON: Linguagem dinâmica, com ele e suas bibliotecas podemos realizar diversos tipos de análise. O python pode ser utilizado para data science, machine learning, desenvolvimento web, desenvolvimento de aplicativos, automação de scripts, dentre outras muitas funcionalidades. Pessoalmente, sou adorador da linguagem e busco utiliza-la o máximo possível em qualquer projeto que esteja envolvido.